.disabled {
  @include disabled;
}

.primary-btn{
  @include btn-primary;
 }
 
 .primary-outline-btn{
  @include btn-outline-primary;
 }

 .primary-sm-btn {
  @include btn-primary;
  min-width: 85px;
  height: 28px;
  font-size: 13px;
 }

 .white-outline-btn{
  @include btn-outline-primary;
  width: 100%;
  color: white;
  border: 2px solid white;
  &:hover{
    color: white;
    background: $primary;
    transition: 0.5s;
    border: 2px solid white;
  }
 }

 .shadow-box {
   @include shadow-panel;
 }

 .error-text {
   color: $secondary;
 }

 .success-text {
   color: $primary;
 }