@mixin btn-outline-white {
  border-radius: 4px;
  min-width: 120px;
  height: 30px;
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color: $primary;
    background: white;
  }
}

@mixin btn-outline-primary {
  border-radius: 4px;
  min-width: 120px;
  height: 30px;
  color: $primary;
  border: 2px solid $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color: white;
    background: $primary;
    transition: 0.5s;
    border: 2px solid $primary-light;
  }
}

@mixin btn-primary {
  border-radius: 4px;
  min-width: 140px;
  height: 34px;
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  &:hover{
    color: white;
    background: $primary;
    transition: 0.5s;
    border: 2px solid $primary-light;
  }
  &:visited,
  &:focus {
    background-color: $primary;
    border-color: $primary-light;
    box-shadow: none;
  }
}

@mixin shadow-panel-secondary {
  -webkit-box-shadow: inset 0px 0px 86px -39px rgba(197,117,255,0.71);
-moz-box-shadow: inset 0px 0px 86px -39px rgba(197,117,255,0.71);
box-shadow: inset 0px 0px 86px -39px rgba(197,117,255,0.71);
}

@mixin shadow-panel {
  box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
}