$primary: #8B7BFF;
$secondary: #C575FF;

$primary-light: #C0B8FF;
$primary-light-2: #c0b8ff36;
$secondary-light: #c575ff17;
$dark-gray: #4B6179;
$light-gray: #F1F0F7;
$black: #44566C;

$primary-gradient: radial-gradient(circle, rgba(124, 107, 255, 1) 2%, rgba(78, 56, 250, 1) 100%);
